<section class="section-hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero__header-group">
        <svg class="hero__icon" width="38" height="38">
          <use href="./img/sprite.svg#sun"></use>
        </svg>
        <h1 class="hero__title">Get <span class="hero__title-highlight">Body</span> in <br />shape, Stay healthy</h1>
        <div class="hero__deco-img">
          <img
            alt="Young women doing fitness outdoors together"
            srcset="./img/hero/hero-img-small-desk.jpg 1x, ./img/hero/hero-img-small-desk@2x.jpg 2x"
            src="./img/hero/hero-img-small-desk.jpg"
          />
        </div>
      </div>
      <p class="hero__subtitle">
        Transform your physique and embrace a healthier lifestyle with our comprehensive fitness and nutrition support.
      </p>
      <picture class="hero__image">
        <source media="(max-width: 767px)" srcset="./img/hero/hero-img-mob.jpg 1x, ./img/hero/hero-img-mob@2x.jpg 2x" />
        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="./img/hero/hero-img-tab.jpg 1x, ./img/hero/hero-img-tab@2x.jpg 2x"
        />
        <source
          media="(min-width: 1440px)"
          srcset="./img/hero/hero-img-desk.jpg 1x, ./img/hero/hero-img-desk@2x.jpg 2x"
        />
        <img src="./img/hero/hero-img-mob.jpg" alt="Women sportswear working out outdoors 2" />
      </picture>
      <ul class="hero__tag-container">
        <li class="hero__hashtag">
          <p class="hero__hasgtag-text">#Sport</p>
        </li>
        <li class="hero__hashtag">
          <p class="hero__hasgtag-text">#Healthy</p>
        </li>
        <li class="hero__hashtag">
          <p class="hero__hasgtag-text">#Workout</p>
        </li>
        <li class="hero__hashtag">
          <p class="hero__hasgtag-text">#Diet</p>
        </li>
      </ul>
    </div>
  </div>
</section>
