.favorites_title {
  color: #242424;
  font-size: 28px;
  line-height: 1.35;
  letter-spacing: -1px;
  font-weight: 500;
  padding-top: 98px;
}

.favorites-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 32px;
  width: 100%;
}

.favorites-list {
  display: grid;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.empty-favorites {
  padding-top: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .favorites-section {
    flex-direction: column;
    gap: 40px;
    width: 100%;
    min-height: 100vh;
  }

  .favorites-list {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .empty-favorites {
    text-align: center;
    color: #242424;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    max-width: 600px;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1440px) {
  .favorites-section {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    min-height: 100vh;
  }

  .favorites-list {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 20px;
  }

  .favorites-list:empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .empty-favorites {
    text-align: center;
    color: #242424;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    max-width: 600px;
    position: absolute;
    top: 30%;
    left: 66%;
    transform: translate(-50%, -50%);
  }
}
